[project]
	description = store gerrit repos
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ramkumar D (ramkumar-hgst)
[access "refs/for/refs/*"]
	read = group user/Ramkumar D (ramkumar-hgst)
	push = group user/Ramkumar D (ramkumar-hgst)
	label-Code-Review = -2..+2 group user/Ramkumar D (ramkumar-hgst)
	label-Verified = -1..+1 group user/Ramkumar D (ramkumar-hgst)
	rebase = group user/Ramkumar D (ramkumar-hgst)
	removeReviewer = group user/Ramkumar D (ramkumar-hgst)
	submit = group user/Ramkumar D (ramkumar-hgst)
	labelAs-Verified = -1..+1 group user/Ramkumar D (ramkumar-hgst)
[access "refs/heads/*"]
	read = group user/Ramkumar D (ramkumar-hgst)
	create = group user/Ramkumar D (ramkumar-hgst)
	push = +force group user/Ramkumar D (ramkumar-hgst)
	pushMerge = group user/Ramkumar D (ramkumar-hgst)
[access "refs/tags/*"]
	push = +force group user/Ramkumar D (ramkumar-hgst)
	pushTag = group user/Ramkumar D (ramkumar-hgst)
	pushSignedTag = group user/Ramkumar D (ramkumar-hgst)
