[project]
	description = store gerrit repos
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ramkumar-hgst
[access "refs/for/refs/*"]
	read = group user/ramkumar-hgst
	push = group user/ramkumar-hgst
	label-Code-Review = -2..+2 group user/ramkumar-hgst
	label-Verified = -1..+1 group user/ramkumar-hgst
	rebase = group user/ramkumar-hgst
	removeReviewer = group user/ramkumar-hgst
	submit = group user/ramkumar-hgst
	labelAs-Verified = -1..+1 group user/ramkumar-hgst
[access "refs/heads/*"]
	read = group user/ramkumar-hgst
	create = group user/ramkumar-hgst
	push = +force group user/ramkumar-hgst
	pushMerge = group user/ramkumar-hgst
[access "refs/tags/*"]
	push = +force group user/ramkumar-hgst
	pushTag = group user/ramkumar-hgst
	pushSignedTag = group user/ramkumar-hgst
